@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --nav-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", "Segoe UI","robo Tahoma", Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #ffffff;
    --color-body: #f3f3f3;
    --color-text: #383636;
    --btn-cta-shadow: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
    --primary-color: #2c2c2c;
    --color-body: #494242;
    --color-text: #f3f3f3;
    --btn-cta-shadow: rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] * {
    transition: all 0.3s ease;
}

body {
    margin: 0;
    background-color: var(--color-body);
    line-height: 2;
}

/* global */
a {
    text-decoration: none;
    color: black;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    /* clamp(min, prefered, max) */
    width: clamp(320px, 95%, 1200px);
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
}

/* navbar */
header {
    height: var(--nav-height);
    background-color: var(--primary-color);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
}
nav h3, .h3 {
    color: black;
}
.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f3f3f3;
}

.navbar {
    display: flex;
}

.navbar__link {
    color: #f3f3f3;
    padding: 0 1rem;
}

/* switch */
.theme-checkbox {
    display: none;
}

.switch {
    display: flex;
    align-items: center;
    position: relative;
    width: 55px;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 3rem;
}

.switch::before {
    position: absolute;
    content: "";
    left: 2px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transform: scale(1.3);
    transition: left 0.3s ease-in;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: #fff url("./img/sun.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.theme-checkbox:checked + .switch {
    background-color: rgb(218, 216, 216);
}

.theme-checkbox:checked + .switch::before {
    left: 25px;
    background: #fff url("./img/moon.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-cta {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: #f3f3f3;
    border-radius: 3rem;
}

.btn-cta:hover {
    box-shadow: 0 0 0 6px var(--btn-cta-shadow);
}


/* zxsdacascascascascasc */



body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: var(--primary-color);
    line-height: 2.2;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.fa-bars {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

.fa-bars:hover {
    color: black;
}

.menu a {
    color: grey;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.nav{
    height: 100%;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

@media (min-width: 800px) {
    .nav-main {
        max-width: 1170px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        background: white;
        border-radius: 10px;
        }

    .nav-header {
        padding: 0;
    }
    .fa-bars {
        display: block;
    }

    .menu {
        height: auto;
        display: flex;
    }

    .menu a {
        padding: 0;
        margin: 0 0.5rem;
    }
    .menu a:hover {
        padding: 0;
        background: transparent;
    }
}
.logo {
    display: flex;
    justify-items: center;
    width: 3rem;
    color: white;
}
h1 {
    color: var(--color-text);
}
h2 {
    color: var(--color-text);
}
p {
    margin-top: 10px;
    margin-bottom: 1rem;
    color: var(--color-text);
}
p, p{
    margin-top: 10px;
    margin-bottom: 1rem;
    color: var(--color-text);
}
.h3 {
    padding: 2rem;
    height: 1rem;
    margin-top: 10px;
    color: var(--color-text);
}
h3, .h3 {
    padding-top: 10px;
    color: var(--color-text);
}
.card__content {
      color: var(--color-text);
}
.card__content h1, h1 {
    color: black;
}
.card__content p, p {
    color: black;
}

/* img-slider */
h1, h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    margin: 30px;
    margin-top: -11px;
    color: var(--color-text);
}
.text{
    color: var(--color-text);
}

.text-container {
    padding-top: 5em;
    border-radius: 10px;
    text-align: center;
    height: 34em;
    color: var(--color-text);
}


.container-slider {
    padding: 10em;
    height: 60em;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


}

.container-slider-2 {
    position: relative;
    align-items: center;
    text-align: center;
    height: 27em;
    width: 40em;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: transform 0.7s;
}


.container-image {
    display: flex;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
}
.btn.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    opacity: 4%;
    cursor: pointer;
    right: 10px;
    background: #000000;
}
.btn.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    opacity: 4%;
    cursor: pointer;
    left: 10px;
}
.text {
    margin: 50px 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--color-text);
}
img {
    display: block;
    width: 100%;
    height: 100%;
}

#imageC {
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}


*.string-container::before{}

*.string-container::after {
    box-sizing: border-box;
}


.string-container {
    min-height: 60em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    flex-direction: column;
}


.string-container img{
    width: 100%;
}

.string-img-container {
    position: relative;
    width: 70em;
    height: 40em;
    overflow: hidden;
    border-radius: 10px;
    touch-action: auto;

}


.cards{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-gap: 50px;
    pointer-events: none;
    border-radius: 10px;
    touch-action: auto;
    
}

.card {
    border: 1px solid#ccc;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 black;
}

.card__content{
    box-shadow: black;
    padding: 1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
}

.form-label{
    color: var(--color-text);
    margin-bottom: 0.5rem;
    align-items: center;
}

.form {
   width: 10em;
    padding: 6px;
}

input,  textarea{
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    margin: 6px 0;
}
#btn-form {
    width: 150px;
    padding: 6px;
    cursor: pointer;
}



* {
    box-sizing: border-box;
}
p.testimonial{
    font-size: 2em;
}

.cometarios-container {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30em;
    overflow: hidden;
    margin: 0;
    padding: 15em;
    border: 53px solid #ccc;
    border-radius: 5rem;
}

.testimonial-container {
    color: #000000;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}
.user .user-details {
    margin: 30px 10px;
}

.fa-quote {
    color: black;
    font-size: 28px;
    position: absolute;
    top: 3px;
}

.fa-quote-right {
    right: 40px;
    color: black;
    top: 5em;
}
h4.username{
    font-size: 3em;
    padding: 0px 58px;
    color: blueviolet;
}
p.role{
    align-items: center;
    font-size: 1em;
    color: grey;
}

.fa-quote-left {
    left: 40px;
    color: black;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
    color: black;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {
    background-color: #1f45ce;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
